<!-- This file is app/views/home/index.html.erb -->
<div class="container">
  <h1 style="margin-bottom: 30px;">All Available Listings</h1>
  <div style="display:flex; justify-content:space-between; width:100%">

    <!-- Filter Section -->
    <div style="width:22%">
      <div class="filter-section">
        <%= form_tag(root_path, method: :get, class: 'filter-form') do %>
          <%= hidden_field_tag :sort_by, session[:sort_by] %>
          <%= hidden_field_tag :sort_direction, session[:sort_direction] %>

          <div class="form-group">
            <%= label_tag 'Min Space (Sq ft)' %>
            <%= number_field_tag :min_available_space, params[:min_available_space], min: 0, class: 'form-control', placeholder: 'Min Available Space' %>
          </div>

          <div class="form-group">
            <%= label_tag 'Max Price (in $)' %>
            <%= number_field_tag :max_price_per_sqft, params[:max_price_per_sqft], min: 0, step: 0.01, class: 'form-control', placeholder: 'Max Price per Sq ft' %>
          </div>

          <div class="form-group">
            <%= label_tag 'Max Distance (Miles)' %>
            <%= number_field_tag :max_distance_from_campus, params[:max_distance_from_campus], min: 0, step: 0.01, class: 'form-control', placeholder: 'Max Distance to Campus' %>
          </div>

          <%= submit_tag 'Apply Filters', class: 'btn btn-primary btn-block' %>
        <% end %>

        <div style="margin-top:5%"></div>

        <%= button_to 'Clear All', root_path, method: :get, params: { min_available_space: nil, max_price_per_sqft: nil,  max_distance_from_campus: nil}, class: 'btn btn-secondary btn-block' %>
        <div style="margin-top:20%"></div>
        <%= link_to 'Add new storage', home_new_path, :class => 'btn btn-primary' %>
      </div>
    </div>

    <!-- Sorting Options -->
    <div style="width:60%; margin-left:25px; margin-right:50px;">
      <h5>Sort Listings by:</h5>
      <table class="table table-striped" id="storages">
        <thead>
          <tr>
            <th><%= sortable_link('name', 'Address') %></th>
            <th><%= sortable_link('available_space', 'Space (Sq ft)') %></th>
            <th><%= sortable_link('price', 'Price per Sq ft') %></th>
            <th><%= sortable_link('start_date', 'Start Date') %></th>
            <th><%= sortable_link('end_date', 'End Date') %></th>
            <th><%= sortable_link('campus_dist', 'Distance to Campus (Miles)') %></th>
            <th><%= sortable_link('rating', 'Rating') %></th>
          </tr>
        </thead>
      </table>

      <!-- Data Table -->
      <% @storages.each do |storage| %>
        <div style="display:flex; flex-direction:row; margin-bottom: 15px; background-color:rgba(255, 255, 255, 0.8); border-radius:10px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2)">
          <div style="margin: 8px">
            <% if storage.image.attached? %>
              <%= image_tag storage.image, height: 175, width: 175 %>
            <% else %>
              <%= image_tag "default_icon.png", height: 175, width: 175 %>
            <% end %>
          </div>
          <div>
            <h4 style="margin-top: 10px"><%= link_to "#{storage.name}", home_show_path(storage) %></h4>
            <h6><b>Available Space: </b><%= storage.available_space %> Sq Ft &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Price: $</b><%= storage.price %> / Sq. Ft.</h6>
            <h6 style="white-space:pre;"><b>Availability: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start: <%= storage.start_date %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End: <%= storage.end_date %></h6>
            <h6><b>Distance from Campus: </b><%= storage.campus_dist %> Miles</h6>
            <% if storage.ratings.any? %>
              <h6><b>Rating: </b><%= storage.ratings.average(:value).round(2) %></h6>
            <% else %>
              <h6><b>Rating: </b>No ratings yet</h6>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
