<h2>Details about <em><%= @storage.name %></em></h2>

<ul id="details">
  <li>
    Name:
    <%= @storage.name %>
  </li>
  <li>
   Available Space (in Sq. ft.):
   <%= @storage.available_space %>
  </li>
  <li>
    Price per Sq. ft. (in $):
    <%= @storage.price%>
  </li>
  <li>
   Distance from Campus:
    <%= @storage.campus_dist%>
  </li>
   <li>
   Rating:
    <%= @storage.rating%>
  </li>
   <li>
    Availability Start Date:
    <%= @storage.start_date.strftime("%B %d, %Y") %>
  </li>
   <li>
    Availability End Date:
    <%= @storage.end_date.strftime("%B %d, %Y") %>
  </li>
</ul>

<div>

<%= form_for @storage, url: home_path(@storage),  method: :patch do |f| %>
  Book Space (in sq. ft.): <%= f.number_field :book_space,  min: 1,  max:  @storage.available_space %> 
  <%= f.submit "Confirm Booking", :class => "col-md-2 btn btn-success"%>
<% end %>

  <br/>
<div>
  <%= link_to 'Edit ', edit_home_path(@storage), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', home_path(@storage), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
 </div>
</div>
