<!--  This file is app/views/home/index.html.erb -->
<h2>All Available Listings on BOXT</h2>


<table class="table table-striped col-md-12" id="storages">
  <thead>
    <tr>
      <th>Name</th>
      <th>Available Space (in Sq. ft.)</th>
      <th>Price per Sq. ft. (in $)</th>
      <th>Availability Start Date</th>
      <th>Availability End Date</th>
      <th>Distance from Campus (in Miles)</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td>
          <%= storage.name %>
        </td>
        <td>
          <%= storage.available_space %>
        </td>
        <td>
          <%= storage.price %>
        </td>
        <td>
          <%= storage.start_date %>
        </td>
        <td>
          <%= storage.end_date %>
        </td>
        <td>
          <%= storage.campus_dist %>
        </td>
        <td>
          <%= storage.rating %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
