<!--  This file is app/views/home/index.html.erb -->
<div class="container">
  <h1 style="margin-bottom: 30px;">All Available Listings</h1>
  <div style="display:flex; justify-content:space-between; width:100%">
    <!-- Filter Section -->
    <div style="width:22%">
      <div class="filter-section">
        <%= form_tag(root_path, method: :get, class: 'filter-form') do %>
          <%= hidden_field_tag :sort_by, params[:sort_by] %>
          <%= hidden_field_tag :sort_direction, params[:sort_direction] %>

          <div class="form-group">
            <%= label_tag 'Min Space (Sq ft)' %>
            <%= text_field_tag :min_available_space, params[:min_available_space], class: 'form-control', placeholder: 'Min Available Space' %>
          </div>

          <div class="form-group">
            <%= label_tag 'Max Price (in $)' %>
            <%= text_field_tag :max_price_per_sqft, params[:max_price_per_sqft], class: 'form-control', placeholder: 'Max Price per Sq ft' %>
          </div>

          <div class="form-group">
            <%= label_tag 'Max Distance (Miles)' %>
            <%= text_field_tag :max_distance_from_campus, params[:max_distance_from_campus], class: 'form-control', placeholder: 'Max Distance to Campus' %>
          </div>

          <%= submit_tag 'Apply Filters', class: 'btn btn-primary btn-block' %>
        <% end %>
        <div style="margin-top:5%"></div>
        <%= button_to 'Clear All', root_path, method: :get, params: { min_available_space: nil, max_price_per_sqft: nil,  max_distance_from_campus: nil}, class: 'btn btn-secondary btn-block' %>
        <div style="margin-top:20%"></div>
        <%= link_to 'Add new storage', home_new_path, :class => 'btn btn-primary' %>
      </div>
    </div>
    
    <!-- Data Table -->
    <div style="width:60%; margin-left:25px; margin-right:50px;">
      
      <div>
      
        </div>
          <% @storages.each do |storage| %>
          <div style="display:flex; flex-direction:row; margin-bottom: 15px; background-color:rgba(255, 255, 255, 0.8); border-radius:10px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2)">
            <div>
              <%= image_tag "default_icon.png", height: 175 %>
            </div>
            <div>
              <h4 style="margin-top: 10px"><%= link_to "#{storage.name}", storage_path(storage) %></h4>
              <h6><b>Available Space: </b><%= storage.available_space %> Sq Ft &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Price: $</b><%= storage.price %> / Sq. Ft.</h6>
              <h6 style={white-space:pre;}><b>Availability: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start: <%= storage.start_date %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End: <%= storage.end_date %></h6>
              <h6><b>Distance from Campus: </b><%= storage.campus_dist %> Miles</h6>
              <h6><b>Rating: </b><%= storage.rating %></h6>
            </div>
          </div>
          <% end %>
    </div>

    <!-- Sorting Options -->
    <div style="width:18%;">
    <h5>Sort Listings by:</h5>
      <table class="table table-striped" id="storages">
        <thead>
            <tr><th>
              <%= link_to 'Address', root_path(sort_by: 'name', sort_direction: (params[:sort_by] == 'name' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'name' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'Space (Sq ft)', root_path(sort_by: 'available_space', sort_direction: (params[:sort_by] == 'available_space' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'available_space' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'Price per Sq ft', root_path(sort_by: 'price', sort_direction: (params[:sort_by] == 'price' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'price' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'Start Date', root_path(sort_by: 'start_date', sort_direction: (params[:sort_by] == 'start_date' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'start_date' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'End Date', root_path(sort_by: 'end_date', sort_direction: (params[:sort_by] == 'end_date' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'end_date' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'Distance to Campus (Miles)', root_path(sort_by: 'campus_dist', sort_direction: (params[:sort_by] == 'campus_dist' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'campus_dist' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
            <tr><th>
              <%= link_to 'Rating', root_path(sort_by: 'rating', sort_direction: (params[:sort_by] == 'rating' && params[:sort_direction] == 'asc') ? 'desc' : 'asc', min_available_space: params[:min_available_space], max_price_per_sqft: params[:max_price_per_sqft], max_distance_from_campus: params[:max_distance_from_campus]) %>
              <%= params[:sort_by] == 'rating' ? (params[:sort_direction] == 'asc' ? '↑' : '↓') : '' %>
            </th></tr>
        </thead>
        </table>
        </div>
  </div>

  

</div>
