<!DOCTYPE html>
<html>
  <head>
    <title>BOXT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
    <h1 class="title"> <%= link_to 'BOXT', '/', :style => 'color: #FFFFFF'%></h1>

      <div class="top-right-menu">
        <% if user_signed_in? %>
          <!-- Display logout link when a user is logged in -->
          <%= link_to "My Profile", profile_path(current_user), class: "top-menu-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "top-menu-item" %>
        <% else %>
          <!-- Display login and registration links when a user is not logged in -->
          <%= link_to "Login", new_user_session_path, class: "top-menu-item" %>
          <%= link_to "Register", new_user_registration_path, class: "top-menu-item" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
